.parent{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(150px , 1fr));
    gap: 20px;
    div{
        cursor: pointer;    
    }
    img{
        border-radius: 10px;
    }
    p{
        margin-top: 10px;
    }
}

.image__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    img{
        min-width: 200px;
        max-width: 600px;
    }

    h1{
        margin-top: 50px;
        span{
            color: #c4170f;
        }
        
                @media (max-width: 400px){
                    font-size: 1.6rem;   
                }
    }

}

.login__msg{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    img{
        min-width: 200px;
        max-width: 600px;
    }

    h1{
        text-align: center;
        @media (max-width: 767px) {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }

    button{
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 1.5rem;
        color: white;
    }
}