.suggested{
    margin: 50px 0 20px;
    font-size: 1.3rem;
    text-align: left;
    letter-spacing: 1px;
}

.recommendation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: .5s;
    animation-name: scalling;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    div {
        img{
            max-width: 150px;
            border-radius: 10px;
            &:hover{
                filter: brightness(1.5);
                cursor: pointer;
            }
        }
    }
}

@keyframes scalling {
    0%{
        padding-top: 0;
        transform: scale(1);
    }
    
    50%{
        
        padding-top: 20px;
        transform: scale(1.1);
    }
    100%{
        padding-top: 0;
        transform: scale(1);
    }
}