*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --scrollbar-color : #c4170f;
}

body{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Karla', sans-serif;
  overflow-x: hidden !important;
  background: #030f17;

}

ul{
  list-style: none;
}

li{
  cursor: pointer;
}

img{
  max-width: 100%;
}

.text-center{
  text-align: center;
}

button{
  border: none;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  transition: .5s;
}

.red-btn{
  background-color: #bf0100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.red-btn img{
  max-width: 25px;
  border-radius: 50%;
}

.red-btn:hover{
  background: #ff0202;
}

.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.App {
  display: flex;
}

.App > .parent{
  margin-left: auto;
  background: #030f17;
  color: white;
  min-height: 100vh;
}

.increase > .parent{
  width: calc(100% - 180px) !important;
}
.decrease  > .parent{
  width: calc(100% - 60px) !important;
}

.bars_hide{
  display: none;
}

.phone_aside_show{
  transform: translate(0%);
}

.phone_aside_hide{
  transform: translate(-100%);
}

@media (max-width: 767px){
  .App > .parent{
    width: calc(100%) !important;
  }

  .desktop_aside{
    display: none;
  }

  .bars_hide{
    display: block;
    margin-right: 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color); 
  border-radius: 10px;
}


 aside::-webkit-scrollbar {
  width: 0;
}

.swiper-button-prev,
.swiper-button-next{
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  color: white !important;
  background-color: #c4170f;
  transform: scale(.6) ;
}

.padding{
  padding : 100px 0 80px;
}

.section__heading{
  font-weight: 400;
  margin-top: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  gap: 5px;
}

.flex__container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(130px , 1fr));
   justify-content: center;
   gap: 60px;
   padding: 30px 0;
}


@media (max-width : 400px){
  .flex__container{
    gap: 40px;
  }
}

.relative{
  position: relative;
}

.login_msg{
  transition: .5s;
  z-index: 3;
  color: white;
  height: 75%;
  width: 250px;
  position: absolute;
  background: #c4170f;
  box-shadow: 1px 0px 7px 10px #f5f5f54d;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border-radius: 10px;
  font-size: .9rem;
  right: -500%;
}

@media (max-width : 767px){
.login_msg{
  right: 000%;
  left: -500%;

}
}

.show_login_msg{
  right: 0%;
}

@media (max-width : 767px){
  .show_login_msg{
    left: -000%;
  
  }
  }

  .footer{
    text-align: center;
    background: #020a10;
    padding: 40px 0;
    font-weight: normal ;

  }

  .footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width : 500px){
    footer h1{
      font-size: 1.3rem;
    }
  }
  .footer h1 span{
    color: #c4170f;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }