
.filter__wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
}

.filter{
    width: 150px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    button{
        padding: 10px;
        background-color: transparent;
        color: white;
        width: 50%;
        font-size: 1rem;
    }
    
    .active{
        background: #c4170f;
    }
}
